<!DOCTYPE html>
<html lang="hr">
<head>
    <title>@ViewData["Title"] - TBP enterprises</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        html, body {
            overflow: hidden;
        }

        body {
            display: flex;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        nav {
            width: 250px;
            background-color: #007BFF;
            height: 100vh;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 10px;
            color: white;
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            margin: 15px 0;
        }
        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            display: block;
            padding: 10px;
            border-radius: 4px;
        }
        nav ul li a i {
            margin-right: 8px;
        }
        nav ul li a:hover {
            background-color: #0056b3;
        }
        main {
            flex: 1;
            padding: 20px;
            background-color: #f9f9f9;
            overflow-y: auto;
            height: 100vh;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Index"><i class="fas fa-home"></i> Početna</a></li>
            <li><a href="/Zaposlenici"><i class="fas fa-users"></i> Zaposlenici</a></li>
            <li><a href="/Projekti"><i class="fas fa-project-diagram"></i> Projekti</a></li>
            <li><a href="/Zadaci"><i class="fas fa-tasks"></i> Zadaci</a></li>
            <li><a href="/Klijenti"><i class="fas fa-handshake"></i> Klijenti</a></li>
            <li><a href="/ProjektiKlijenata"><i class="fas fa-briefcase"></i> Projekti klijenata</a></li>
            <li><a href="/RadniSati"><i class="fas fa-stopwatch"></i> Radni sati</a></li>
            <li><a href="/Obracuni"><i class="fas fa-calculator"></i> Obračuni</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>
