@page
@model TBP_enterprises.Pages.DodajProjektModel
@{
    ViewData["Title"] = "Dodavanje projekta";
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="naziv">Naziv projekta:</label>
            <input type="text" id="naziv" name="Naziv" required />
        </div>
        <div class="form-group">
            <label for="pocetak">Početak projekta:</label>
            <input type="date" id="pocetak" name="Datum_pocetka" required />
        </div>
        <div class="form-group">
            <label for="zavrsetak">Završetak projekta:</label>
            <input type="date" id="zavrsetak" name="Datum_zavrsetka" />
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-green">Dodaj</button>
            <a href="/Projekti" class="btn btn-red">Odustani</a>
        </div>
    </form>
</div>