@page
@model DodajZaposlenikaModel
@{
    ViewData["Title"] = "Dodavanje zaposlenika";
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="ime">Ime:</label>
            <input type="text" id="ime" name="Ime" required />
        </div>
        <div class="form-group">
            <label for="prezime">Prezime:</label>
            <input type="text" id="prezime" name="Prezime" required />
        </div>
        <div class="form-group">
            <label for="uloga">Uloga:</label>
            <select id="uloga" name="Id_uloga" class="custom-dropdown" required>
                <option value="">Odaberite ulogu</option>
                @foreach (var uloga in Model.Uloge)
                {
                    <option value="@uloga.Id">@uloga.Naziv_uloge</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="pocetak">Početak Zaposlenja:</label>
            <input type="date" id="pocetak" name="PocetakZaposlenja" required />
        </div>
        <div class="form-group">
            <label for="zavrsetak">Završetak Zaposlenja:</label>
            <input type="date" id="zavrsetak" name="ZavrsetakZaposlenja" />
        </div>
        <div class="form-group">
            <label for="satnica">Satnica:</label>
            <input type="number" id="satnica" name="Satnica" step="0.01" required />
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-green">Dodaj</button>
            <a href="/Zaposlenici" class="btn btn-red">Odustani</a>
        </div>
    </form>
</div>