@page
@model TBP_enterprises.Pages.DodajKlijentaModel
@{
    ViewData["Title"] = "Dodavanje klijenta";
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="naziv">Naziv klijenta:</label>
            <input type="text" id="naziv" name="Naziv_klijenta" required />
        </div>
        <div class="form-group">
            <label for="email">Kontakt e-mail:</label>
            <input type="email" id="email" name="Kontakt_email" required />
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-green">Dodaj</button>
            <a href="/Klijenti" class="btn btn-red">Odustani</a>
        </div>
    </form>
</div>