@page
@model IndexModel

<h1>@ViewData["Title"]</h1>
<p>
    Dobrodošli u web aplikaciju za evidenciju rada poduzeća TBP enterprises. S lijeve strane nalazi se navigacijski izbornik
    kojim se možete koristiti kako biste otvorili željeni prozor. Svaki prozor prikazuje određenu tablicu iz baze podataka. Unutar
    prozora nalazi se gumb za dodavanje novog zapisa u tablici. Također se unutar svakog prozora nalazi gumb za uređivanje zapisa, koji
    omogućuje uređivanje i brisanje zapisa iz baze.
</p>
