@page
@model IndexModel

<h1>@ViewData["Title"]</h1>
<p>
    Dobrodošli u web aplikaciju za evidenciju rada poduzeća TBP enterprises. S lijeve strane nalazi se navigacijski izbornik
    kojim se možete koristiti kako biste otvorili željeni prozor. Za svaku stavku izbornika postoje pod-stavke pomoću kojih možete
    odabrati dodatne opcije za unos, izmjenu ili brisanje podataka.
</p>
